<h2>Welcome to Dojo Secrets</h2>
<h4>Please login to continue</h4>

<% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
        <%= err %>
    <% end %>
<% end %>

<form action="/sessions/new" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<table>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input id="email" name="email" type="text"></td>
    </tr>
    <tr>
        <td><label for="password">Password</label></td>
        <td><input id="password" name="password" type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Log In"></td>
    </tr>
</table>
</form>

<br>
<a href="/users/new">Not a Member? Join Here.</a> 